<hr class="stigmod-hr-narrow stigmod-hide-when-full-screen" />
<footer class="stigmod-hide-when-full-screen">
    <p class="text-center stigmod-gray stigmod-websitefooter">2017 Peking University</p>
</footer>
</div>
</body>
</html>