<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>Stigmergic-Modeling</title>
    <!-- CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    <link href="/stylesheets/stigmod.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!--[if lt IE 9]><script src="http:html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

<!-- 顶部导航条 -->
<nav class="navbar navbar-default navbar-fixed-top stigmod-hide-when-full-screen" role="navigation" id="navbarTop">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/stigmod_logo_sm.png" alt="stigmod-logo-sm"/></a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="twitter-typeahead form-control" placeholder="Search Stigmergic-Modeling" id="stigmod-navbar-input">
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup"><span class="glyphicon glyphicon-flash"></span> Sign up</a></li>
                <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Sign in</a></li>
            </ul>
        </div>
    </div>
</nav>

